<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form action='/addairport' class="needs-validation" method="POST" novalidate>
          <div class='form-group'>
              <% if (name != '') { %>
                <h2  class="text-center"><%= name %></h2>
              <% } %>
              <label for="name">Name</label>
              <input
              type="name"
              id='name' 
              name='name'
              class="form-control" 
              placeholder='Enter name' 
              required
              />
              <div class="invalid-feedback">Please Enter a valid Name.</div>   
          </div>
          <button type='submit' class='btn btn-primary btn-block'>Add</button>
      </form>         
    </div>
  </div>
</div>