<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
                <form action="/plain/plainadd"  class="needs-validation" method="POST" novalidate>
                        <div class='form-group'>
                            <br>
                            <input type="text" name="name" class="form-control" placeholder="Enter plain name" required />
                            <br>
                            <input type="text" name="arrive" class="form-control" placeholder="Arrive" required />
                            <br>
                            <input type="text" name="depart" class="form-control" placeholder="Depart" required />
                            <div class="invalid-feedback">Please fill all fields correctly</div>   
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                        
                </form>
          </div>
        </div>
</div>