<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <p><%= msg %></p>
        <a href="<%= redirect %>" class="btn btn-primary btn-block mb-2">HOME</a>
      </div>
    </div>
  </div>